@import "tailwindcss";

@theme {
  --color-main: #ff6600;
  --color-main-bg: #151320;
  --color-main-text: #f3f4f6;
  --color-main-link: #99a1af;
  --color-success-text: #4caf50;
  --color-danger-text: #fa5252;
  --color-warning-text: #f5d60b;
  --color-success-bg: #5fab03;
  --color-danger-bg: #dc2626;
  --color-warning-bg: #ca8a04;
  --transition-smooth: all 150ms ease-in-out;
  --text-2xs: 0.625rem;
  --shadow-3xl: 0 20px 40px -10px rgba(0, 0, 0, 0.4), 0 10px 20px -4px rgba(0, 0, 0, 0.25), 0 4px 8px -2px rgba(0, 0, 0, 0.2);
}

@layer base {
  * {
    /* <--- ScrollBar ---> */
    scrollbar-width: thin;
    scrollbar-color: #364153 transparent;
  }

  #root {
    color: var(--color-main-text);
  }

  a {
    transition: var(--transition-smooth);
    color: var(--color-main-link);
  }
  a:hover {
    color: var(--color-main-text);
  }
}

@layer components {
  .navbar-link,
  .navbar-link-active {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: var(--transition-smooth);
  }
  .navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .navbar-link-active,
  .navbar-link:focus {
    background-color: rgba(255, 255, 255, 0.075);
  }

  /* grid-template:
    "left subHeader subHeader market right" 56px
    "left orderbook chart market right" 360px
    "left orderbook chart trades right" 160px
    "left orderbook orderform trades right" minmax(169px, 1fr)
    "left orderbook orderform marketActivity right" minmax(146px, auto)
    "left basictable basictable basictable right" 560px
    "footer footer footer footer footer" 24px / 1fr minmax(
      253px,
      320px
    ) minmax(510px, 880px) minmax(253px, 320px) 1fr; */

  .trade-container.tablet {
    display: none;
  }
  .trade-container.mobile {
    display: none;
  }
  .trade-container.desktop {
    overflow: auto;
    display: grid;
    grid-template-columns: minmax(253px, 0.45fr) 1fr minmax(247px, 0.5fr); /* 3 columns */
    grid-template-rows: auto auto auto auto; /* 4 rows */
    gap: 0.25rem;
  }
  .trade-container.desktop .header {
    grid-area: 1 / 1 / 2 / 3;
  }
  .trade-container.desktop .left-sidebar {
    grid-area: 2 / 1 / 4 / 2;
    height: 667px;
  }
  .trade-container.desktop .right-sidebar {
    grid-area: 1 / 3 / 4 / 4;
    height: 727px;
  }
  .trade-container.desktop .top-center {
    grid-area: 2 / 2 / 3 / 3;
  }
  .trade-container.desktop .bottom-center {
    grid-area: 3 / 2 / 4 / 3;
    height: min-content;
  }
  .trade-container.desktop .footer {
    grid-area: 4 / 1 / 5 / 4;
  }

  /* Untuk mengatasi layout terdapat black bar */
  @media (max-width: 1095px) {
    .trade-container.desktop {
      grid-template-columns: 1fr;
    }
  }

  /* Tablet */
  @media (max-width: 1023px) {
    .trade-container.desktop {
      display: none;
    }
    .trade-container.tablet {
      display: grid;
      grid-template-columns: 1fr 0.5fr; /* 2 columns */
      grid-template-rows: auto auto 1fr auto; /* 4 rows */
      gap: 0.25rem;
      overflow: auto;
    }
    .trade-container.tablet .header {
      grid-area: 1 / 1 / 2 / 3;
    }
    .trade-container.tablet .right-sidebar {
      grid-area: 2 / 2 / 4 / 3;
      height: 667px;
    }
    .trade-container.tablet .top-left-sidebar {
      grid-area: 2 / 1 / 3 / 2;
    }
    .trade-container.tablet .bottom-left-sidebar {
      grid-area: 3 / 1 / 4 / 2;
    }
    .trade-container.tablet .footer {
      grid-area: 4 / 1 / 5 / 3;
    }
  }

  /* Mobile */
  @media (max-width: 767px) {
    .trade-container.tablet {
      display: none;
    }
    .trade-container.mobile {
      display: grid;
      grid-template-columns: 1fr; /* 1 columns */
      grid-template-rows: auto auto auto; /* 3 rows */
      gap: 0.25rem;
      overflow: auto;
    }
    .trade-container.mobile .header {
      grid-area: 1 / 1 / 2 / 2;
    }
    .trade-container.mobile .center {
      grid-area: 2 / 1 / 3 / 2;
      height: 588px;
    }
    .trade-container.mobile .footer {
      grid-area: 3 / 1 / 4 / 2;
      width: calc(100vw - 8px);
    }
    .trade-container.mobile .float {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

@layer utilities {
  .animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
    transform: translateY(30px);
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-500 {
    animation-delay: 500ms;
  }

  .delay-700 {
    animation-delay: 700ms;
  }

  .delay-1000 {
    animation-delay: 1000ms;
  }

  .delay-2000 {
    animation-delay: 2000ms;
  }

  .backdrop-blur-md {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .placeholder-text-left::placeholder {
    text-align: left !important;
    direction: ltr !important;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-main-bg);
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}